h1 
{
  font-size: 2.125rem;
  text-align: center;
}

circle {
  fill: #e24428;
}

.lights
{
  display: flex;
  justify-content: space-evenly;
}

#lightAM
{
  fill: red;
}

#lightPM
{
  fill: red;
}

.switches 
{
  display: flex;
  justify-content: space-evenly;
}

.switch
{
  padding:  30px;
}

button
{
  font-size: 2.5rem;
}
