h1 
{
  font-size: 4rem;
  text-align: center;
  font-family:  Arial, Helvetica, sans-serif;
}

#date
{
  font-size: 3rem;
  text-align: center;
  font-family:  Arial, Helvetica, sans-serif;
}

circle {
  fill: #e24428;
}

.lights
{
  display: flex;
  justify-content: space-evenly;
  border-style: none;
}

.light
{
  border-style: none;
}

#lightAM
{
  fill: red;
}

#lightPM
{
  fill: red;
}

.switches 
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.switch
{ 
}

button
{
  font-size: 2.5rem;
  padding: 20px;
  width: 200px;
  border: grey;
  border-style: solid;
  border-width: 2px;
  font-family:  Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.clear-button 
{
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
